body{
    width: 100vw;
}

a{
    text-decoration: none;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.col-category{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.card-category{
    width: 95%;
    margin: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.img-category{
    width: 100%;
}
.text-category{
    width: 100%;
    margin: 10px; 
    
}

.title-category, .price-category{
    font-family: roboto;
    width: 95%;
    color: #FD611A;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-category{
    font-weight: bold;
    color: black;  

}
