*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.contenedor-prod-precio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-productos{
    width: 70%;
}

.producto-seleccionado{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin: 12px;
}

.img-prod-carrito{
    width: 30%;
}

.nombre-prod-talle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sector-prod-talle{
    margin: 2px;
    font-size: 0.8em;
}

.nombre-prod{
    font-size: 1.2em;
    padding-bottom: 12px;
}

.editar-prod{
    text-decoration: none;
    color: gray;
    margin-top: 10px;
}

.canasto{
    position: absolute;
    right: 10px;
    top: 10px;
}

.precio-total{
    margin-top: 15px;
}

.pago-total{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    border-left: 1px solid black;
    padding-left: 20px;
}

.calculo-pago{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contenedor-inputs-forma-pago{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.forma-pago{
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: black;
}

.boton-comprar{
    border: none;
    background-color: #FD611A;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 700;
}

.boton-comprar:hover{
    background-color: #e77641;
    color: rgb(170, 214, 200);
}

@media (max-width: 420px){
    .contenedor-prod-precio{
        flex-direction: column;
        align-items: center;
    }
    .contenedor-productos{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .img-prod-carrito{
        width: 35%;
    }
    .nombre-prod{
        font-weight: 800;
        font-size: 0.9em;
        padding-bottom: 8px;
    }
    .canasto{
        right: 5px;
        top: 5px;
    }
    .pago-total{
        position: relative;
        flex-direction: row;
        width: 100%;
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 15px;
    }
    .calculo-pago{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: auto;
    }
    .contenedor-inputs-forma-pago{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .producto-seleccionado{
        margin: 20px 0;
        padding: 20px 0;
    }
}
