
.login-container {
    width: 100%;
    border-radius: 5px;
    height: auto;
}

.header-login {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin: 18px;
}

.selector-register {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 100px;
    height: 5%;
    font-weight: bold;
}

.selector-register button {
    padding: 10px;
    color: black;
    font-size: 18px;
    border-bottom: 1px solid gray;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition property */
}

.selector-register button.selected {
    background-color: #FD611A;
}
  button {
    outline: none;
  }


/* ----------- FORM LOGIN ---------- */


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 28px;
}

.container-form {
    display: inline-block;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 32px;
}

:root {
    --roboto: 'Roboto', sans-serif;
    --dexter: #FD611A;
}

.texto {
    width: 300px;
    margin-top: 15px;
}
.texto h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
.texto p {
    color: #000;
    margin: 0;
}
.login {
    margin-top: 50px;
}
.login, label{
    display: grid;
    place-items: center;
    text-align: center;
    gap: 16px;
    font-size: 18px;
    text-transform: uppercase;
}
.login input {
    width: 250px;
    height: 40px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.login input:focus {
    border: 1px solid var(--dexter);
    border-width: 2px;
}
.caja-checkbox {
    display: flex;
    justify-content: flex-start;
    width: 250px;
}
.caja-checkbox input {
    width: 15px;
    margin: 10px;
}
.caja-checkbox label {
    font-size: 15px;
}
.caja-sesion {
    display: flex;
    justify-content: center;
}
.caja-sesion button {
    width: 450px;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.caja-sesion button svg {
    margin: 0 auto;
}
.caja-sesion button:hover {
    background-color: var(--dexter);
    border: none;
}

.logo-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-form img {
    width: 120px;
    height: 50px;
}

/* --------- FORM REGISTER ----------- */

 #register-form.registro {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 32px;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.registro, label{
    display: grid;
    place-items: center;
    text-align: center;
    gap: 16px;
    font-size: 18px;
    text-transform: uppercase;
}
.registro input {
    width: 250px;
    height: 40px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.registro input:focus {
    border: 1px solid var(--dexter);
    border-width: 2px;
}
.caja-checkbox-politica {
    display: flex;
    justify-content: flex-start;
    width: 250px;
}
.caja-checkbox-politica input {
    width: 15px;
    margin: 10px;
}
.caja-checkbox-politica label {
    font-size: 15px;
}
.caja-registro-usuario {
    display: flex;
    justify-content: center;
}
.caja-registro-usuario button {
    width: 450px;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.caja-registro-usuario button svg {
    margin: 0 auto;
}
.caja-registro-usuario button:hover {
    background-color: var(--dexter);
    border: none;
} 

/* ---------- MOBILE LOGIN ----------- */

@media screen and (max-width: 550px) {
    .container-form {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        padding: 0;
    }

    .logo-form {
        display: none;
    }

    .texto h2{
        font-size: 20px;
    }

    .texto p {
        font-size: 14px;
    }

    .caja-sesion {
        display: block;
        margin: 0 auto;
        width: 50px;
    }

    .caja-sesion p{
        display: none;
    }

    .caja-sesion button {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .login {
        margin: 5px;
    }

    .login label{
        display: flex;
        font-size: 12px;
    }

    .login input {
        width: 100%;
        height: 18px;

    }

    .caja-checkbox {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .caja-checkbox input {
        margin: 5px;
        width: 14px;
    }

    .header-login {
        display: none;
    }

    .login-container {
        border: 0;
    }

    #register-form.registro {
        width: auto;
    }
}