* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

header {
    padding: 5px 0px 5px 0px;
    background-color: #FD611A;
    overflow: hidden;
}

.ofertas-header {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.title-ofertas-header {
    color: #FD611A;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
}

.desc-ofertas-header {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    margin-left: 5px;
}

/*--------NUEVO NAVBAR*------------*/
.display-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-nav {
    height: 150px;
    width: 100%;
}

.search-nav {
    background-color: white;
    color: rgb(197, 195, 195);
    font-family: roboto;
    font-size: medium;
    width: 100%;
    height: 37px;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

.fa-search {
    background-color: transparent;
    border: none;
    position: absolute;
    font-size: larger;
    right: 10px;
    top: 7px;
}

.categ-nav {
    text-decoration: none;
    color: white;
    font-size: large;
    margin: 5px;
    padding: 8px;
}

.categ-nav:hover {
    background-color: #00000017;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
    transition: 0.5s;

}

.fa-bars {
    font-size: xx-large;
    margin: 10px;
    padding: 3px;
    color: white;
}

/* ---------- BUSCADOR -------------- */
/*
header {
    background-color: #FD611A;
    width: 100%;
    height: 100%;
}


.container {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1;
    grid-column: 1;
    grid-row: span 2;
}

.buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin: 0 auto;
    width: 100%;
    grid-column: 2;
}

.buscador form {
    border-radius: 6px;
    background-color: white;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}

.busca {
    font-size: 16px;
    outline: none;
    border: none;
    width: 100%;
    padding-left: 15px;
}

.buscador button {
    display: grid;
    place-items: center;
    margin: 10px;
    width: 5%;
    border: 0;
    background-color: white;
    cursor: pointer;
    border-left: solid 1px gray;
    padding-left: 10px;
    height: 100%;
}

.searcher {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-part {
    padding: 15px 0px;
    grid-area: 2;
    grid-column: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.first-part a {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 5px;
}


.second-part {
    padding: 15px 0px;
    grid-area: 2;
    grid-column: 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.second-part a {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 5px;
}*/

/* ----------------- FOOTER ------------------ */

footer {
    padding: 5px 0px 5px 0px;
    background-color: #FD611A;
    overflow: hidden;
}

.part-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.marca-footer {
    width: 70%;
}

.title-footer {
    font-weight: bold;
    font-size: 13px;
    text-align: start;
    margin-bottom: 3px;
    color: white;
}

.options-footer {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.item-footer {
    text-decoration: none;
    color: white;
}

.item-footer:hover {
    color: black;
    font-weight: bolder;
}

.part-qr-footer {
    width: 33%;
}

.qr-footer {
    width: 100%;
}

.part-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6px;
}

.fa-facebook:hover {
    color: #4267B2;
    transition: 1s;
}

.fa-instagram:hover {
    color: #E1306C;
    transition: 1s;
}

.fa-whatsapp:hover {
    color: #25D366;
    transition: 1s;
}

.fa-twitter:hover {
    color: #1DA1F2;
    transition: 1s;
}

.icon-footer {
    color: white;
    font-size: 20px;
}

/*
@keyframes oscurito-fachero {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.3;
    }
}


.first-part a,
.second-part a {
    transition: transform 0.3s;
    position: relative;
}

.first-part a::before,
.second-part a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
    border-radius: 10px;
}

.first-part a:hover::before,
.second-part a:hover::before {
    animation: oscurito-fachero 0.3s forwards;
    opacity: 0.3;
}

@keyframes agrandamiento-facherito {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}


nav ul a,
.part-footer a {
    transition: transform 0.3s;
}

nav ul a:hover,
.part-footer a:hover {
    animation: agrandamiento-facherito 0.3s forwards;
}*/

/* --------- MEDIA QUERY --------- */

/* ----------- MOBILE NAVBAR ------------ */

@media screen and (max-width: 420px) {

    .first-part,
    .second-part,
    .busca,
    .buscador,
    .searcher {
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: 1;
    }

    .container-fluid {
        font-family: 'Roboto';
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .offcanvas-body {
        background-color: #FD611A;
    }

    .offcanvas-body ul li {
        font-weight: bold;
        color: white;
    }

    .offcanvas-body button {
        border: 1px solid white;
        color: white;
    }

    .offcanvas-header {
        background-color: #FD611A;
    }

    .offcanvas-header h5 {
        color: white;
        text-decoration: underline white;
    }
}

/* --------------- MOBILE FOOTER ----------- */

@media (max-width:768px) {

    .col-dos,
    .col-tres {
        display: none;
    }

    .col-uno {
        height: 100px;
    }

    .qr-footer {
        display: none;
    }

    .marca-footer {
        width: 90%;
    }

    .part-qr-footer {
        width: 40%;
    }

    .part-icon {
        margin-top: 0px;
    }
}

@media (min-width:768px) {

    .col-cuatro {
        display: none;
    }
}

@media (max-width:992px) {

    .part-qr-footer {
        width: 60%;
    }
}

/* ---------- DESKTOP - TABLET ------------ */

@media screen and (min-width: 421px) {
    .container-fluid {
        display: none;
    }

}