<header>
    <div class="ofertas-header">
        <p class="title-ofertas-header">ENVÍO GRATIS</p>
        <p class="desc-ofertas-header">EN COMPRAS DESDE $ 34.000!</p>
    </div>

  <!-- NAVBAR -->

    <nav>
      <div class="container">
        <div class="logo">
            <a href="/"><img src="/img/logo_footer.png" style="height: 180; width: 180px;"></a>
        </div>
        <div class="buscador">
            <form action="https://www.google.com/search" method="get">
                <input type="text" placeholder="¿Qué desea buscar?" class="busca">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 512 512">
                        <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                        </svg>
                </button>
            </form>
        </div>
        <div class="first-part">
          <ul>
              <a href="#">Categorias</a>
              <a href="/product/category/genero/Hombre">Hombre</a>
              <a href="/product/category/genero/Mujer">Mujer</a>
              <a href="/product/category/Calzado">Zapatillas</a>
              <a href="/product/category/Indumentaria">Indumentaria</a>
          </ul>
        </div>
        <div class="second-part">
            <ul>
                <a href="/login-register"><i class="fa-solid fa-user"></i></a>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <!-- <a href="/product/product-admin"><i class="fa-solid fa-screwdriver-wrench"></i></a> -->
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">DESTER</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Categorias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Hombre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mujer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Marcas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Zapatillas</a>
              </li>
              
            </ul>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="¿Qué desea buscar?" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
          </div>
        </div>
      </div>
    </nav>
</header>